body {
    background: url('./src/TypeScriptBack.jpg') no-repeat center center;
    background-color: rgb(111, 111, 111);
    background-size: cover;
  }
  
  p {
    margin: 5px;
    text-indent: 20px;
  }
  
  #content {
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 30px;
    text-align: justify;
    line-height: 120%;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  a:hover{
    color: #087AC8;
  }
  
  #picture {
    float: right;
    height: 257px;
  }
  
  h1 {
    font-variant: small-caps;
    font-style: italic;
  }
  
  li {
    margin-left: 15px;
    list-style-type: square;
  }
  
  table {
    text-align: center;
    width: 80%;
    margin: auto;
    border: 1px solid gray;
  }
  th{
    background: #087AC8;
    color: white;
    border: 1px solid gray;
  }
  td{
    padding: 5px;
    border: 1px solid gray;
  }
  span{
    color: #087ac8;
    font-weight: bold;
  }
  #egyenlet{
    margin-left: 500px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    color: black;
  }
  img{
    float: right;
  }